.logo {
  height: 32px;
  margin: 16px;
  background-image: url("../../assets/logo.png");
  background-size: cover;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}
