.logo {
  height: 100px;
  width: 100px;
  background-image: url("../../assets/logo.png");
  background-size: cover;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.alert {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
